@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  --lightblue: #c1def0;
  --bone: #f8f8f8;
  --turquoise: #18abc2;
  --green: #cada59;
  --black: #000;
  --gray: #e5e5e5;
  --red: #C61A25;
  --white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--gray);
}

.up-button{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

header {
  background-color: var(--bone);
}
.img-header {
  display: flex;
  justify-content: center;
}
.container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search {
  width: 50px;
  height: 50px;
  /* background: #2b303b; */
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: var(--black);
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}
.box {
  /* margin: 100px auto; */
  /* width: 300px;
  height: 50px; */
}
.container-2 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-2 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;  
}

.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;  
}

.container-2 input#search:-ms-input-placeholder {  
  color: #65737e;  
}
.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  width: 300px;
}
 
.container-1:hover input#search{
width: 300px;
}
 
.container-1:hover .icon{
  color: #93a2ad;
}

.search-Submit{
  display: none;
}

.navtab {
  background-color: var(--lightblue);
  width: 100%;
  padding: 1em;
}
nav {
  display: flex;
  flex-direction: row;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: var(--lightblue);
  flex-direction: row;
  gap: 3rem;
}
nav ul li a {
  text-decoration: none;
  background-color: var(--lightblue);
  color: var(--black);
  font-weight: 700;
}

.summary-text {
  background-color: var(--bone);
  display: flex;
  text-align: center;
  flex-direction: column;
    align-items: center;
  padding: 3em 0;
}
.summary-text p {
  width: 50%;
}

.filter-options-container{
  display: flex;
  flex-direction: row;
  gap: 8em;
}
.sortByLetter-container{
  display: flex;
  flex-direction: column;
}

.sortBySpecies-container{
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h3 {
  margin: 2rem 0;
  text-align: center;
  padding: 1rem;
}

.container p{
  margin-bottom: 2em;
}
.container span{
  color: var(--red);
  font-weight: 800;
}

.card-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 0 10%;
}
.profile-card {
  width: 300px;
  height: 350px;
  background-color: var(--white);
  border-radius: 20px;
  
  -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}
.profile-card img {
  border-radius: 20px;
  width: 100%;
}

.profile-card h1 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
}

.card-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.card-wrap:hover .profile-card{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.front, .back{
  -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

  flex-direction: column;
	padding: 35px 15px 0 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
  width: 100%
}

.back h2{
  text-align: center;
}

.back img{
  width: 12px;
}

.back-info{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 20px;
}
.back-info p{
  margin: 9px 0;
  
}
.seeMore-button button {
  background-color: var(--turquoise);
  width: 150px;
  padding: 1em;
  cursor: pointer;
  border-color: transparent;
  border-radius: 10px;
  margin: 2rem 0;
}
.seeMore-button button a {
  color: var(--bone);
  text-decoration: none;
  font-weight: 500;
}
footer {
  display: flex;
  margin-top: 2rem;
  background-color: var(--lightblue);
  width: 100%;
  padding: 1em 0;
  flex-direction: row;
  justify-content: center;
}
.icon-github {
  width: 1em;
  margin-right: 10px;
}
.logo img {
  width: 60px;
  padding-top: 4px;
}
